---
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout
  title="Good Fella - Frontend Dev Agency"
  description="Welcome to my portfolio website"
>
  <section class="min-h-screen w-full h-full bg-black"></section>
  <section class="h-400"></section>
</PageLayout>
