---
import PageLayout from "../layout/PageLayout.astro";
import { MyButton } from "../components/Button.jsx";
---

<PageLayout title="Work Page">
  <section class="min-h-screen w-full h-full bg-black"></section>
</PageLayout>
