---

---

<div
  class="grid-cols-12 gap-5 container fixed z-1 opacity-10 inset-0 grid left-1/2 -translate-x-1/2 top-0 h-full w-full bg-amber-200"
>
  <div class="bg-gray-600"></div>
  <div class="bg-gray-600"></div>
  <div class="bg-gray-600"></div>
  <div class="bg-gray-600"></div>
  <div class="bg-gray-600"></div>
  <div class="bg-gray-600"></div>
  <div class="bg-gray-600"></div>
  <div class="bg-gray-600"></div>
  <div class="bg-gray-600"></div>
  <div class="bg-gray-600"></div>
  <div class="bg-gray-600"></div>
  <div class="bg-gray-600"></div>
</div>
