---
const { title } = Astro.props;
import "../styles/global.css";
import { Header } from "../components/header/Header.jsx";
import { Grids } from "../components/grids/Grids.jsx";
---

<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <Grids client:load />
    <main class="relative">
      <Header client:load />
      <slot />
    </main>
  </body>
</html>
